{% extends 'layouts/master.twig' %}

{% block title %}Tambah User{% endblock %}

{% block content %}
<h2 class="mb-4">Tambah User Baru</h2>

<form action="/users/create" method="post" autocomplete="off">
    <div class="mb-3">
        <label for="name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Role</label>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="role_admin" value="admin" required>
        <label class="form-check-label" for="role_admin">
            Admin
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="role_member" value="member" required>
        <label class="form-check-label" for="role_member">
            Member
        </label>
        </div>
    </div>

    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Simpan</button>
    <a href="/users" class="btn btn-secondary">Kembali</a>
</form>
{% endblock %}
